---
title: "2nd Single Cell & Spatial Omics Hackathon"
location: Chung-Ang University (DaVinci Campus), Anseong, Gyeonggi-do
date: February 17 - 21, 2025
participants: 40
opening: []
agenda: []
starting_materials:
  - name: "Best practices for pseudobulk analysis in scRNA-seq"
    url: "/2025/oh.pptx"
    size: "1.9 MB"
    presenter: "Youngchul Oh (IBS)"
  - name: "Spermatogonial stem cells (SSCs)"
    url: "/2025/LAB introductory presentation .pdf"
    size: "1.8 MB"
    presenter: "Seung Hee Shin (Chung-ang University)"
  - name: "Heart single cell / ST"
    url: "/2025/kimsangyun.pptx"
    size: "2.0 MB"
    presenter: "Sangyun Kim (Chung-nam University)"
  - name: "Best practices for ST data"
    url: "/2025/250217_scsok_hackathon_COLab.pptx"
    size: "8.2 MB"
    presenter: "Junseong Bae (Pusan National University)"
  - name: "TENETPLUS Opening"
    url: "/2025/2025_Hackerthon_TENETPLUS_opening.pptx"
    size: "23.4 MB"
    presenter: "Hyeon Kyu Kim (Soongsil University)"
  - name: "Doublet Classification using Topic model"
    url: "/2025/해커톤_v4.pptx"
    size: "5.1 MB"
    presenter: "Kanghee Cho (Soongsil University)"
final_deliverables:
  - name: "Best practices for pseudobulk analysis in scRNA-seq"
    url: "/2025/YO_scsok_hackathon_250221.pptx"
    size: "4.1 MB"
    presenter: "Youngchul Oh (IBS)"
  - name: "Heart single cell / ST"
    url: "/2025/kimseokwon.pptx"
    size: "10.9 MB"
    presenter: "Seokwon Kim (Chung-nam University)"
  - name: "Brain Stereo-seq analysis"
    url: "/2025/kimeunchae.pptx"
    size: "8.8 MB"
    presenter: "Eunchae Kim (Yonsei University)"
  - name: "Doublet Classification using Topic model"
    url: "/2025/Doublet_hack_ResultFinal-sglee.pptx"
    size: "6.2 MB"
    presenter: "Seulgi Lee (Soongsil University)"
  - name: "Best practices for ST data"
    url: "/2025/250221_scsok_hackathon_COLab.pptx"
    size: "21.1 MB"
    presenter: "Junseong Bae (Pusan National University)"
  - name: "Spapros: A Pipeline for Targeted Spatial Transcriptomics"
    url: "/2025/scsok-2025-final.pdf"
    size: "0.6 MB"
    presenter: "Abyot Melkamu Mekonnen (Pusan National University)"
  - name: "TENETPLUS"
    url: "/2025/Hackathon_TENET+.html"
    size: "1.1 MB"
    presenter: "Hyeon Kyu Kim (Soongsil University)"
---

The 2nd Single Cell & Spatial Omics Hackathon expanded to 40 participants, continuing our mission to advance single-cell and spatial omics research in Korea.
