---
layout: post
title: "Postdoctoral Position: Computational Cancer Genomics Group at CNIO, Madrid"
group: "Computational Cancer Genomics Group"
institute: "CNIO, Madrid"
active: false
---

The Computational Cancer Genomics Group at the Spanish National Cancer Research Center (CNIO)
invites applications for a *postdoctoral position* focused on investigating the molecular bases and
therapeutic implications of cellular heterogeneity in pancreatic cancer. CNIO, a premier cancer research
institution in Spain, offers a dynamic environment that spans fundamental biology to clinical cancer
research. Under the leadership of Dr. Solip Park, our lab is dedicated to understanding the context-
specific cancer fitness landscape by analyzing both inherited and somatic alterations (Song et al., 2023,
Genome Medicine; Park et al., 2021, Nature Communications).

This project involves systematic and rigorous statistical analysis of extensive sequencing data from
cancer patients. Key aims include:

Identifying novel cancer predisposition genes for hereditary cancer patients using AI and machine
learning approaches.
Developing AI-based structural simulations to explore position-specific protein interaction dynamics.
Discovering early-onset cancer factors through innovative omics approaches.

Our goal is to advance understanding of comprehensive genomic alterations to improve cancer
classification and risk assessment, ultimately enhancing prevention strategies.

**Responsibilities:** Lead a project to understand age-associated cancer progression with international
collaborators, identifying novel mechanisms of cancer initiation. Develop an AI-based model to decipher
context-specific protein interaction perturbations.

Manage large-scale, heterogeneous data collection and process various datasets from cancer patients.
Develop and refine computational models by analyzing multi-omics datasets.
Supervise master’s and Ph.D. students, providing technical expertise to both the lab and collaborators.
Collaborate with research teams for data acquisition and troubleshooting.

**Selection criteria:** Ph.D. in biology, bioinformatics, systems biology, computational biology,
computer/data science, structural biology, or related fields.
Extensive experience in big data analysis, including cancer genomics, network biology, structural
modeling, and computational model/software development.
Proficiency in computational languages (e.g., R, Python).
Strong team player with excellent communication skills.

**Additional information:** This position offers a unique opportunity to contribute to cutting-edge cancer
research with a focus on personalized medicine for four years. The role includes a competitive salary
(minimum €45,000/year) and a benefits package, including an independent budget for equipment,
conferences, or personal needs (€6,500/year).

**How to apply?:** Please send CV and a brief summary of your research to Solip Park
(solippark@cnio.es). Deadline for applications: September 30, 2024
