---
layout: post
title: "2025 Single Cell and Spatial Omics Korea (SCSOK)-Institute for Basic Science (IBS) Joint Symposium"
location: Soongsil University, Seoul
start: 2025-06-23T9:00:00+09:00
end: 2025-06-28T12:00:00+09:00
---

We are excited to announce the 2025 Single Cell and Spatial Omics Korea (SCSOK)-Institute for Basic Science (IBS) Joint Symposium, focusing on the latest research by next-generation researchers in single-cell analysis, spatial technologies, genome engineering, stem cell biology, and cell therapy.

- **Date:** June 23, 2025 - June 28, 2025
- **Location:** Rev. Han Kyungjik Memorial Hall, Soongsil University, Seoul, Korea
- **Organizers:** Jeongbin Park (Pusan National University), Junil Kim (Soongsil University), Heetak Lee (Institute for Basic Science)
- **Registration / Abstract Submission:** [https://events.scsok.io/event/1](https://events.scsok.io/event/1)
- **Registration Fee:** Free of charge
- **Important Deadlines:**
  - **Abstract Submission Deadline:** ~~May 25, 2025~~ June 1, 2025
  - **Registration Deadline:** ~~May 25, 2025~~ June 1, 2025

<div class="flex flex-col lg:flex-row gap-2 my-5">
  <img src="/images/scsok-3rd-meeting-poster.png" alt="SCSOK 3rd meeting poster" class="w-full">
  <img src="/images/synrge-poster.webp" alt="IBS SyNRGE poster" class="w-full">
</div>

### Event Details

- **Description:**
  - The joint symposium consists of two sessions:
    1. **Session 1 (June 23-25):** The 3rd Single Cell and Spatial Omics Korea Meeting, focusing on single-cell analysis and spatial technologies to advance understanding of cells and tissues.
    2. **Session 2 (June 25-28):** 2025 IBS-SyNRGE, aimed at next-generation researchers in genome engineering, stem cell biology, and cell therapy to foster collaboration and innovation.
- **Keywords:** Single Cell, Spatial Omics, Stem Cell biology, Genome Engineering, Cell Therapy
- **Confirmed Speakers (as of today):** Nir Yosef, Jingyi Jessica Li, YongKeun Park, Joon-Yong An, Jungmin Choi, Buhm Han, Seunghee Hong, Heon Seok Kim, Ik Soo Kim, Joonha Kwon, Dong-Sung Lee, Hae-Ock Lee, Yasuhiro Murakawa, Heon Seok Kim, Jihwan Park, Guangdun Peng, Shyam Prabhakar, Tim Stuart, Suzuki Yutaka
- **Organizing Committee:**
  - **SCSOK Organizing Committee Chairs:** Jeongbin Park, Junil Kim, Heetak Lee
  - **IBS-SyNRGE Organizing Committee:** Committee Chairs - Heetak Lee, Bon-Kyoung Koo; Committee Members - Youngchul Oh, Yeongjun Kim, Onyu Shin, Ohbin Kwon, Soeun Lim, Yumi Byun, Sangmin Lee, Chaewon Lee, Jaehun Lee, Sieun Lee, Hyunmin Ryu, Jaeyeon Lee, Thomas Klompstra
- **Program Committee Chairs:** Jeongbin Park, Junil Kim, Heetak Lee

### Accommodation

- **Special Offer for Hotel (Voco Seoul Myeongdong):** We are offering an exclusive special rate for stays at Voco Seoul Myeongdong ([https://www.ihg.com/voco/hotels/us/en/seoul/selvo/hoteldetail](https://www.ihg.com/voco/hotels/us/en/seoul/selvo/hoteldetail)).
  - **Available Dates:** June 22 – 28, 2025
  - **Special Price:** 176,000 KRW (VAT included) (Regular price: 240,000 KRW)
  - **Optional Breakfast:** 22,000 KRW (Regular price: 45,000 KRW)
  - **Booking Deadline:** This special offer is available until April 15, 2025. To book, please contact the hotel at [jongyoon.park@ihg.com](mailto:jongyoon.park@ihg.com) and mention this announcement.

### Conference Schedule

#### June 22 (Sun)

| Time | Session |
| --- | --- |
| 18:00 | Pre-session (speakers & invited people only) |

#### June 23 (Mon)

| Time | Session |
| --- | --- |
| 8:00-9:00 | Registration |
| 9:00-9:40 | Session 1: New Technology - Heon Seok Kim (Hanyang University) |
| 9:40-10:20 | Session 1: New Technology - Guangdun Peng (Chinese Academy of Sciences) |
| 10:20-11:00 | Session 1: New Technology - Jihwan Park (Gwangju Institute of Science and Technology) |
| 11:00-11:10 | Break |
| 11:10-11:20 | Opening Ceremony - Younjai Lee (President of Soongsil University) |
| 11:20-11:30 | Opening Ceremony - Junil Kim (Soongsil University) |
| 11:30-12:45 | Keynote 1: YongKeun Park (KAIST) |
| 12:45-14:45 | Luncheon Seminar (Macrogen) |
| 14:45-15:30 | Session 2: Application in Medicine I - Yasuhiro Murakawa (Kyoto University) |
| 15:30-16:15 | Session 2: Application in Medicine I - Seunghee Hong (Yonsei University) |
| 16:15-17:00 | Session 2: Application in Medicine I - Joon-Yong An (Korea University) |
| 17:00-17:30 | Flash Talks (selected posters) |
| 17:30-18:00 | Poster Session |
| 18:00 | Banquet (pre-registered attendees only) |

#### June 24 (Tue)

| Time | Session |
| --- | --- |
| 8:00-9:00 | Registration |
| 9:00-9:40 | Session 3: Epigenomics & Cellular Trajectory - Su Bin Lim (Ajou University) - online |
| 9:40-10:20 | Session 3: Epigenomics & Cellular Trajectory - Tim Stuart (Genome Institute of Singapore) |
| 10:20-11:00 | Session 3: Epigenomics & Cellular Trajectory - Ik Soo Kim (Gacheon University) |
| 11:00-11:40 | Session 3: Epigenomics & Cellular Trajectory - Dong-Sung Lee (Seoul National University) |
| 11:40-12:00 | Pipe Organ Performance (Yonglan Han) |
| 12:00-14:00 | Break |
| 14:00-15:15 | Keynote 2: Jingyi Jessica Li (University of California at Los Angeles) |
| 15:15-15:30 | Coffee Break |
| 15:30-16:15 | Session 4: Computational Methods - Buhm Han (Seoul National University) |
| 16:15-17:00 | Session 4: Computational Methods - Joonha Kwon (National Cancer Center) |
| 17:00-17:15 | Coffee Break |
| 17:15-18:45 | Keynote 3: Nir Yosef (Weizmann Institute of Science) - online |
| 18:45 | Dinner & Meet the Speakers (pre-registered attendees only) |

#### June 25 (Wed)

| Time | Session |
| --- | --- |
| 9:00-9:45 | Session 5: Application in Medicine II - Hae-Ock Lee (Catholic University) |
| 9:45-10:30 | Session 5: Application in Medicine II - Jungmin Choi (Korea University) |
| 10:30-11:30 | Session 5: Application in Medicine II - Suzuki Yutaka (University of Tokyo) |
| 12:00-13:00 | Registration for IBS-SyNRGE |
| 13:00-14:00 | Keynote 1 (online): Hans Clevers (Hubrecht Institute) |
| 14:00-14:15 | Opening Remarks: IBS-SyNRGE |
| 14:15-15:00 | Session 1. Stem Cell - Hyunjoon Kim (Korea Virus Research Institute, IBS) |
| 15:00-15:45 | Session 1. Stem Cell - Tae-Hee Kim (University of Toronto) |
| 15:45-16:30 | Session 1. Stem Cell - Masahiro Onji (Institute of Molecular Biotechnology) |
| 16:30-17:00 | Coffee Break |
| 17:00-18:00 | Flash Talks (selected posters) |
| 18:00- | Speakers Meeting |

#### June 26 (Thu)

| Time | Session |
| --- | --- |
| 10:00-11:00 | Keynote 2: Toshiro Sato (Keio University) |
| 11:00-11:45 | Session 2. Cell Therapy - Sohyeon Lee (Korea Advanced Institute of Science and Technology) |
| 11:45-12:30 | Session 2. Cell Therapy - Ji Won Oh (Yonsei University College of Medicine) |
| 12:30-14:00 | Luncheon Seminar (MDxK) |
| 14:00-14:45 | Session 2. Cell Therapy - Kim Bak Jensen (University of Copenhagen) |
| 14:45-15:25 | Session 3. International Grant Writing - Bon-Kyoung Koo (Center for Genome Engineering, IBS) |
| 15:25-16:05 | Session 3. International Grant Writing - Hyoung-Ha Kim (Korea Research Institute of Standards and Science) |
| 16:05-16:30 | Coffee Break |
| 16:30-17:00 | Pilhan Kim (KAIST, IVIM) |
| 17:00-18:00 | Poster Session |
| 18:00- | Dinner (pre-registered attendees only) |

#### June 27 (Fri)

| Time | Session |
| --- | --- |
| 10:00-10:45 | Session 4. Genome Engineering - Jae-Yean Kim (Gyeongsang National University) |
| 10:45-11:30 | Session 4. Genome Engineering - Hui-Kwon Kim (Sungkyunkwan University) |
| 11:30-12:15 | Session 4. Genome Engineering - Sangsu Bae (Seoul National University College of Medicine) |
| 12:15-14:15 | Break |
| 14:15-15:15 | Keynote 3: Jin-Soo Kim (Korea Advanced Institute of Science and Technology) |
| 15:15-16:00 | Closing Remarks & Prize Draw |

#### June 28 (Sat)

| Time | Session |
| --- | --- |
| 14:00-15:00 | Tutorial: Guangzheng Weng (GRNPT: Reconstruction of GRN using Transformer model) - Enterpreneurship & Small Business Center #309 |
