---
layout: post
title: "2026 SCSOK & KSBMB Single-Cell Society Joint Symposium"
location: Sheraton Incheon Hotel
start: 2026-10-14T9:00:00+09:00
end: 2026-10-16T18:00:00+09:00
---

We are excited to announce the 2026 Single Cell and Spatial Omics Korea (SCSOK) & KSBMB Single-Cell Society Joint Symposium!

## Details

- Date: October 14 - 16, 2026

- Location: Sheraton Incheon Hotel

- Organizers:

  - Korea Applied Science Research Association (KASRA)

  - Korean Society for Biochemistry and Molecular Biology (KSBMB) Single-Cell Society

  - Center for Genome Engineering, Institute for Basic Science

  - Korea Virus Research Institute, Institute for Basic Science

- Event Website: [https://events.kasra.kr/event/9](https://events.kasra.kr/event/9)

- Registration / Abstract Submission: [https://events.kasra.kr/event/9](https://events.kasra.kr/event/9)

## Registration Fee

- Student / Postdoc: 150,000 KRW (on-site registration: 200,000 KRW)

- PI / Non-academic: 200,000 KRW (on-site registration: 300,000 KRW)

## Important Dates

- Abstract Submission Deadline: September 30, 2026

- Registration Deadline: September 15, 2026
